body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(163, 248, 220);
}

#header {
  padding: 20pt;
  text-align: center;
  background-color: rgb(241, 193, 71);
  height: 100px;
  border-radius: 10px;
}

#haveMoney {
  text-align: left;

}

#inputArea {
  text-align: center;
  background-color: rgb(241, 193, 71);
  border-radius: 10px;

}

/*結果*/
#resultArea {
  text-align: center;
  background-color: rgb(241, 193, 71);
  color: black;
  border-radius: 10px;

}

#result {
  font-size: smaller;
}

/*トランプエリア*/
#cardArea {
  display: flex;
  justify-content: space-around;
}

#player {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(241, 193, 71);

}

#dealer {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(241, 193, 71);

}




/*トランプ-自分*/
#myCard {
  height: 178px;
  width: 126px;
  background-color: white;
  border-radius: 6px;
  position: relative;
}

#aboveMarkMy {
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-large;
}

#centerMarkMy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: xxx-large;
}

#belowMarkMy {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: x-large;
}



/*トランプ-ディーラー*/
#dealersCard {
  height: 178px;
  width: 126px;
  background-color: white;
  border-radius: 6px;
  position: relative;
}

#aboveMarkDealer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-large;
  color: red;

}

#centerMarkDealer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: xxx-large;
}

#belowMarkDealer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: x-large;
  color: red;
}



.gameArea {
  visibility: hidden;
}

.highLowSelect {
  flex-direction: column;
}
